body{
    margin: 0;
    background-color: rgb(230, 230, 230);
    font-family: sans-serif;

}

main{
    position: fixed;
    z-index: -1;
}
canvas{ 
    display: block;
    position: fixed;
    z-index: -1;
    max-width: 100%;
    max-height:100%; 
}

.grid-container { 
    height:100%;
    display: grid; 
  grid-template-columns: 1fr 1.1fr 1.1fr 0.8fr; 
  grid-template-rows: 0.2fr 0.4fr 1.8fr 2fr 0.6fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "nav nav nav nav"
    "buttons buttons buttons buttons"
    "values values values values"
    "status status status status"
    "footer footer footer footer";  
}

.fullbody {
  height: 100vh;
  overflow: hidden;
}
.primary-nav { 
    grid-area: nav; 
  margin: 5px 8px;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center; 
}

.primary-nav a { 
    color:white; 
} 
#buttonBox { 
    grid-area: buttons;
    width:100%;
    display: grid;
  grid-template-columns: 1fr 1fr ; 
  grid-template-rows: min-content; 
  justify-items: center;
  align-content:center;
}

#valuelabels {
     grid-area: values; 
  align-content:center;


    margin-left: 2em;
    color: aqua;
} 

#status {  
    grid-area: status; 
    width:100%;
    height:100%;
    align-content:center;
    color: aqua; 

    display: grid;
  grid-template-columns: 1fr 1fr ; 
  grid-template-rows: 1fr 1fr 1fr ; 
  justify-items: center;
  align-content: space-around;
}

#status  p{
     
    grid-column: 1; 
  justify-items: center;
  align-content: space-around;
  transition: ease-in-out;
  transition-duration: 150ms;
    
}

#slider1{

    grid-column: 2; 
    grid-row: 1;
  justify-items: center;
  align-content: space-around;
}

#slider2{

    grid-column: 2; 
    grid-row: 3;
  justify-items: center;
  align-content: space-around;
}
#footer {
    
    grid-area: footer; 
    color:white;
    margin:auto;
  justify-content: center; 
  align-content: center; 

}

  